* {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

.title {
  padding-bottom: 2vh;
  font-size: clamp(2.5rem, 5vw, 6rem);
}

.title span {
  color: #4caf50;
}

.form {
  padding-right: 15px;
}

.form:nth-child(1) {
  padding-left: 32px;
}

@media (max-width: 550px) {
  .title {
    padding-bottom: 0;
  }

  .input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form {
    padding: 0;
  }

  .form:nth-child(1) {
    padding: 0;
  }

  .button-span {
    padding-top: 15px;
  }
}